In [1]:

from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd

In [2]:

import os
path = '/Users/josephineferrandino/Desktop/gallery_app/static/data/'
file = path+'art_for_app.csv'

In [28]:
pd.set_option('display.max_colwidth', 1000)
test = pd.read_csv(file, nrows=5)

In [29]:
test.head()
print(test.columns)

Index(['Unnamed: 0', 'old_link', 'image', 'item_in_class_art', 'item', 'link',
       'primary', 'secondary'],
      dtype='object')

In [30]:

# Define a database name (we're using a dataset on births, so we'll call it birth_db)
# Set your postgres username
dbname = 'art_for_AWS'
username = 'postgres' # change this to your username
pw = 'postgres'

In [31]:

## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine('postgres://%s:%s@localhost/%s'%(username,pw,dbname))
print(engine.url)

postgres://postgres:postgres@localhost/art_for_AWS

In [32]:
## create a database (if it doesn't exist)
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))

True

In [33]:
colnames = test.columns
test.to_sql(dbname, engine, if_exists='fail')

In [38]:

# Connect to make queries using psycopg2
con = None
con = psycopg2.connect(database = dbname, user = username, password = pw)

In [35]:
selectdata = ", ".join(test.columns)

In [36]:

print(selectdata)

Unnamed: 0, old_link, image, item_in_class_art, item, link, primary, secondary

In [41]:
listing = []
sql_query = """
SELECT link, item
FROM art_for_app
WHERE item LIKE '%art.jpg%'
;
"""
listing.append(pd.read_sql_query(sql_query,con))

DatabaseError: Execution failed on sql '
SELECT link, item
FROM art_for_app
WHERE item LIKE '%art.jpg%'
;
': relation "art_for_app" does not exist
LINE 3: FROM art_for_app
             ^

In [27]:
listing

[                                                link      item
 0  https://www.minted.com//product/wall-art-print...  0art.jpg
 1  https://www.minted.com//product/wall-art-print...  1art.jpg
 2  https://www.minted.com//product/wall-art-print...  2art.jpg
 3  https://www.minted.com//product/wall-art-print...  3art.jpg
 4  https://www.minted.com//product/wall-art-print...  4art.jpg]